
.MuiDialogActions-root {
  margin: .2rem .4rem .2rem 0;
}

.alert {
  padding: .75rem;
}

.alert-text {
  margin-left: .8rem;
  font-weight: 350;
}

.button-update {
  font-size: 1rem;
  margin-right: .2rem;
  margin-top: .17rem;
}

.button-player {
  text-transform: capitalize;
}

.player-modal {
  margin: 1.5rem;
  padding: 1.5rem;
}

.card-modal {
  margin: 0 1.2rem;
  padding: .6rem .75rem;
}

.modal-text {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-right: .5rem;
}

.form-players {
  margin-top: .15rem;
}

.form-stats {
  margin-bottom: 1rem;
}

#total-pts {
  font-weight: 600;
  color: rgb(18, 18, 161);
  margin-left: .25rem;
}

#input-week {
  margin-right: 2rem;
}

#search-player {
  width: 400px;
}

#select-position {
  width: 60px;
}

#select-week {
  width: 45px;
}

#select-field {
  width: 120px;
}

#select-type {
  width: 110px;
}

#input-value {
  width: 307px;
}
