
.MuiDialogActions-root {
  margin: .2rem .4rem .2rem 0;
}

.alert {
  padding: .75rem;
}

.alert-text {
  margin-left: .8rem;
  font-weight: 350;
}

.button-update {
  font-size: 1.5rem;
}

.button-season {
  margin-left: .35rem;
}

.button-text {
  font-size: 1rem;
  margin-right: .2rem;
  margin-top: .15rem;
}

.button-player {
  text-transform: capitalize;
}

.modal-player {
  margin: 1.5rem;
  padding: 1.5rem;
}

.card-modal {
  margin: 0 1.2rem;
  padding: .6rem .75rem;
}

.modal-text {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-right: .5rem;
}

.form-players {
  margin-top: 1.5rem;
}

.form-stats {
  margin-top: .2rem;
  margin-bottom: 1.5rem;
}

#total-text {
  font-weight: 600;
  color: rgb(18, 18, 161);
  margin-left: .25rem;
}

#input-week {
  margin-right: 2rem;
}

#search-player {
  width: 300px;
}

#select-position {
  width: 50px;
}

#select-week {
  width: 40px;
}

#select-field {
  width: 100px;
}

#select-type {
  width: 120px;
}

#input-value {
  width: 305px;
}

#select-season {
  width: 60px;
  margin-top: .25rem;
  color: rgb(30, 30, 146);
  font-weight: 550;
}
