
.MuiPaper-root {
  margin: 1rem 0;
}

.button-update {
  font-size: 1rem;
  margin-right: .2rem;
  margin-top: .17rem;
}

.button-player {
  text-transform: capitalize;
}

.card-modal {
  margin: 1rem;
  padding: 1rem;
}
